/* -------------- */
/* -- MENU ABC -- */
/* -------------- */
.padre{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.abc-tab--padre{
  padding: 5px 27px;
  background-color: #fefaff;
  margin: 3px;
  border: 1px solid #999;
  color: #545454;
  cursor: pointer;
  user-select: none;
}

.abc-tab--child{
  padding: 2px 18px ;
  background-color: white;
  margin: 3px;
  border: 1px solid #ccc;
  color: #545454;
  cursor: pointer;
  user-select: none;
}

a:hover{
  color: black;
}

.selected-tab{
  background-color: #ffe690;  
}

.ocultar{
  display: none;  
}

.desvanecer{
  opacity: 0.5;
}

.puntero{
  cursor: pointer;
}

.mensajes{
  display: flex;
  justify-content: center;
}

.mensaje{
  background: white;
  font-weight: bold;
  width: 50vw;
  padding:3px;
  text-align: center;
}

.tomato{
  color: tomato;
}

.green{
  color: green;
}

/* --------- */
/*  BOTONES  */
/* --------- */

#btnBajaFicha{
  margin: 0 auto;
  display: none;  
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

/* ----------- */
/* -  BUSCAR - */
/* ----------- */

.icono{
  width: 40px;
  height: 40px;
  display: inline-block; 
}

.color-icono{
  color:#5fbdff;
}

.rhino{
  color: #a5a5a5;
}

.bib-titulo{
  display: inline-block;
  vertical-align: bottom;
  padding-left:10px;
}

.areaBuscar,
.areaCaptura{
  margin: 25px 0 25px 0;
}

.iconoBuscar,
.labelBuscar,
.labelCaptura,
.iconoCaptura{
  display: inline-block;
}

.inputBuscar,
.inputCaptura{
  color: #999;
}

.iconoCaptura,
.iconoBuscar{
  color: #999;
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

/* ------------- */
/* -- TABLAS -- */
/* ----------- */

.cib-table{
  width: 100% ;
  border-collapse: collapse;
  border: 1px solid #666;
}

.cib-table th,
.cib-table td{
  border-bottom: 1px solid #333;
  padding: 0 10px 0 10px;
  color: #555;
}

.cib-table th{
  background-color: #333;
  color: #eee;
  text-align: left;
  height: 40px;
  border-left: 1px solid #333;
  padding: 0 10px 0 10px;
}

.cib-table tbody tr:nth-child(even){
  background-color: #ddd;
}


/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

/* ----------- */
/* CHECKBOXES */
/* --------- */

/* da espacio entre el input text y los checkboxes */
.checks{
  padding-top:7px;
  margin: 9px 0 3px 5px;
}

/* oculta el input original */
.checkbox-container input{
  position: absolute;
  opacity: 0;
}

/* estilo contenedor checkbox */
/* == label de input del checkbox == */
.checkbox-container{
  display: block;
  position: relative;
  padding-left: 25px;
  margin: 0 17px 10px 0;
  cursor: pointer;
}

/* estilo checkbox */
/* == span despues del input del checkbox == */
.checkmark{
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #ddddddbb;
}

/* cambiar color check */
.checkbox-container input:checked + .checkmark{
  background-color: #2196f3;
}

.checkmark:after{
  content:"";
  position: absolute;
  display: none;  
}

.checkbox-container input:checked + .checkmark:after{
  display: block;
}

.checkmark:after{
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
