/* --------------- */
/* --- FICHERO --- */
/* --------------- */
.ficha{
  margin: 2em 3em;
  padding: 20px;
  border: solid 2px #088395;
}

h1.fichero{
  font-size: 1.7rem;
  color: #088395;
}

h2.fichero{
  font-size: 2rem;  
}

h3.fichero{
  font-size: 1.7rem;;
}

.id{
  color: #888;
}

.autor{
  color: #A79277;
}

.isbn{
  color: #627254;
}

.clasificacion{
  color: #76885B;
}


/* -------------- */
/* -- MENU ABC -- */
/* -------------- */
.padre{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.abc-tab--padre{
  padding: 5px 27px;
  background-color: #fefaff;
  margin: 3px;
  border: 1px solid #999;
  color: #545454;
  cursor: pointer;
  user-select: none;
}

.abc-tab--child{
  padding: 2px 18px ;
  background-color: white;
  margin: 3px;
  border: 1px solid #ccc;
  color: #545454;
  cursor: pointer;
  user-select: none;
}

a:hover{
  color: black;
}

.selected-tab{
  background-color: #ffe690;  
}

.espaciado{
  height: 100px;
}

.ocultar{
  display: none;  
}

.desvanecer{
  opacity: 0.5;
}

.mensajes{
  margin: 0 auto;
}

.mensaje{
  background: white;
  font-weight: bold;
  width: 50vw;
  padding:3px;
  text-align: center;
}

/* ++++++++++++++++++++++++++++++++++++++++++ */
/* MENSAJES LANZADOS DESDE LIBRERIA PHP "CIB" */
/* ==== SE UTILIZA EN TODO EL SISTEMA ====    */
/* ++++++++++++++++++++++++++++++++++++++++++ */
.alert{
  color: #fff;
  background-color: rgb(250, 30, 10);
  font-weight: bold;
  width: 13rem;
  margin: 10px auto;
  padding: 7px;
}
/* ++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++ */


.tomato{
  color: rgb(250, 30, 10);
}

.green{
  color: green;
}

.chiquilin{
  font-weight: bold;
  font-size: 0.7rem;
}

a{
  color: inherit;
}

h2.gray{
  color:#545454;
}

hr.line-space{
  margin: 25px auto;
}

/* ----------------- */
/* --- ETIQUETAS --- */
/* ----------------- */

#getEjemplarByFicha{
  background-color: rgba(199,199,199,.3);
  margin: 0 10%;
  padding: 3px;
  border: solid rgba(70,70,70,.5) 1px;
}

#preview{
  margin: 0 10%;
  padding: 3px;
}

#tabla-fichero{
  margin: 0 5%;
  padding: 3px;
}

.imprimirEtiquetas{  
  margin: 5px 10%;
}

.filaCuadricula{
  display: flex;
  gap: 3px;  
  padding: 0;
  margin-top: 3px;  
  align-items: center;
  justify-content: center;
}

.filaCuadricula div{
  border: 1px solid #999;
  min-width:3.5rem;
  min-height:2rem;
  display:flex;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  padding: 0;
  /* texto */
  font-size: 8px;
}

.margin-bottom{
  margin-bottom:10px;
}

/* Contenedor para el input y el botón */
.input-group {
  position: relative;
  display: flex;
  width: 100%;
}

/* Estilo del input */
.inputBuscarPorID {
  width: 100%;
  padding-right: 40px; /* Espacio para que el texto no choque con el botón */
}

/* Botón al lado derecho */
.btnBuscarPorIDFichaMostrarEjemplar {
  border: none;  
  padding: 10px 30px;
  cursor: pointer;
	background: #58a linear-gradient(hsla(0,0%,100%,.1), transparent);
	border-radius: .2em;
	box-shadow: 0 .05em .25em rgba(0,0,0,.5);
	color: white;
  background-color: #6b0;
}
	
/* ----------- */
/*  MENSAJES   */
/* ----------- */

#data > strong > span{
  color: tomato;
}

/* --------- */
/*  BOTONES  */
/* --------- */

#btnBajaFicha,
#btnRegresarBajaFicha{
  margin: 0 auto;
  display: none;  
}

#btnMostrarFichaBajaFicha{margin: 0 auto;}

.puntero{
  cursor: pointer;
  user-select: none;
}

#btn-preview-area,
.boton-imprimir,
#btn-imprimir,
#btn-regresar-fichero-area{
  display: block;
  width: 100vh;
  min-width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 15px 0 15px 0;
}

#preview{
  width: 100vh;
  min-width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 15px 0 15px 0;
}

#tabla-etiquetas{  
  width: 35%;
  height: auto; /* 100% del alto de la hoja */
  border-collapse: collapse;
  table-layout: fixed;  
  margin: 0 auto;  
}

#tabla-etiquetas th, #tabla-etiquetas td {  
  text-align: left;
  vertical-align: middle;
  font-size: 16px;
  padding: 5px;
  word-wrap: break-word;
}

#tabla-etiquetas tr {
  height: 12.5vh; /* 100% dividido entre 8 filas */
}

#tabla-etiquetas td {
  border: solid black 1px;
}

.butt{
	font-size: 125%;
	line-height: 1.5;
	padding: .3rem, .8rem;
	background: #58a linear-gradient(hsla(0,0%,100%,.1), transparent);
	border-radius: .2em;
	box-shadow: 0 .05em .25em rgba(0,0,0,.5);
	color: white;
}

button.cancel{
	background-color: #c00;	
}

button.ok{
	background-color: #6b0;
}

button.war{
  background-color: rgb(238, 226, 59);
  color: #333;
}

.add-sign{
  margin: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  user-select: none;
}

.add-sign:focus{
  outline: none;
}

.add{
  display: block;
}

.esp{margin: 0 5px;}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

/* ----------- */
/* -  BUSCAR - */
/* ----------- */

.icono{
  width: 40px;
  height: 40px;
  display: inline-block; 
}

.color-icono{
  color:#5fbdff;
}

.rhino{
  color: #a5a5a5;
}

.dark-rhino{
  color: #555;
}

.bib-titulo{
  display: inline-block;
  vertical-align: bottom;
  padding-left:10px;
}

/* +++++++++++++++ */
/* MARGEN DE AREAS */
/* +++++++++++++++ */
.areaBuscar,
.areaCaptura{
  margin: 15px;
}

.iconoBuscar,
.labelBuscar,
.labelCaptura,
.iconoCaptura{
  display: inline-block;
}

.inputBuscar,
.inputCaptura{
  color: #999;
}

.iconoCaptura,
.iconoBuscar{
  color: #999;
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

/* ------------- */
/* -- TABLAS -- */
/* ----------- */

.cib-table{
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #666;
}

.cib-table th,
.cib-table td{
  border-bottom: 1px solid #333;
  padding: 0 10px 0 10px;
  color: #555;
}

.cib-table th{
  background-color: #333;
  color: #eee;
  text-align: left;
  height: 40px; 
  border-left: 1px solid #333;
  padding: 0 10px 0 10px;
}

.cib-table tbody tr:nth-child(even){
  background-color: #ddd;
}


/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

/* ----------- */
/* CHECKBOXES */
/* --------- */

/* da espacio entre el input text y los checkboxes */
.checks{
  padding-top:7px;
  margin: 9px 0 3px 5px;
}

/* oculta el input original */
.checkbox-container input{
  position: absolute;
  opacity: 0;
}

/* estilo contenedor checkbox */
/* == label de input del checkbox == */
.checkbox-container{
  display: block;
  position: relative;
  padding-left: 25px;
  margin: 0 17px 10px 0;
  cursor: pointer;
}

/* estilo checkbox */
/* == span despues del input del checkbox == */
.checkmark{
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #ddddddbb;
}

/* cambiar color check */
.checkbox-container input:checked + .checkmark{
  background-color: #2196f3;
}

.checkbox-container input:checked + .checkmark:after{
  display: block;
}

.checkmark:after{
  content:"";
  position: absolute;
  display: none;  
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}


@media print {
  body {
   margin: 0;
   padding: 0;
  }

  #tabla-etiquetas{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
  }

  table {
    width: 100%;
    height: 100%;
  }

  #tabla-etiquetas tr {
    height: 14.9vh;  
    width: 50vw;  
  }

  #tabla-etiquetas td {
    border: solid black 3px;
  }

  .no-print {
    display: none;
  }
}

@page {
  size: A4; /* O usa Letter si es tamaño carta */
  margin: 0;
}